/* CSS Document */

.trustee {
	
}

.img-1 {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
}



#trusteetext {
	margin-top: 20px;
}

#trusteename {
	
}

.aboutus-img {
	width: 400px;
	height: 400px;
}

.ourteamh {
	margin-bottom: 20px;
}

.redspan {
	color: red;
}

@media screen and (min-width:768px){
	.img-1 {
		width: 250px;
		margin-right: 20px;
		margin-top: 0px;
		float: left;
		

	}
	
	#trusteetext {
		margin-top: 0px;
		padding-top: 70px;
		padding-left: 320px;
		padding-right: 200px;
		font-size: 19px;
		
	}
	
	#trusteename {
		margin: 0px;
		padding-left: 700px;
		padding-top: 10px;
	}
	
	.trustee {
		height: 420px; 
	}
}
