/* CSS Document */

@media (min-width: 768px){ 

	.form-align2 {
		width:  500px;
	}

}

.form-web {
	float: left;
	padding-right: 15px;
}

.form-align {
	width: 50%;
	max-width: 830px;
	margin: auto;
	padding-left: 6%;
}


