/* CSS Document */


.form-space {
	margin-top: 20px;
}

.form-msg {
	height: 200px;
	
}
.contact-icon {
	margin-bottom: 20px;
	clear: both;
	float: left;
}

.contact-font {
	font-size: 20px;
	padding-bottom: 20px;
	display: block;
	overflow: hidden;
}

.contact-map {
	margin-top: 20px;
}



@media (min-width: 768px) {
	
	.reach-us {
		width: 500px;
		
	}
	
	.contact-icon {
		float: left;
		clear: both;
		margin-right: 10px;
		padding-right: 10px;
		margin-left: 10%;
	}
	
	.contact-font {
		display: inline-block;
		float: left;
		
		padding: 0px;
		margin: 0px;
	}
}