/* CSS Document */

.parabg {
	opacity: 0.9;
	margin-bottom: 10px;
	position: relative;
	background-attachment: fixed;
	transition: transform .2s;
	
}

/*.top-img {
	max-height: 600px;
	box-shadow: 0px 2px 20px 0px #000;
	overflow: hidden;
	text-align: center;
	position: relative;
}*/

.headingtxt {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 10px;
	display: inline-block;
	clear: both;
}


.descptxt {
	text-align: center;
}

.footerbg {
	background-color: black;
	margin-top: 70px;
	
}

#wrapper {
/*  display:table;*/
/*	width: 100%;*/
	background-color: black;
	padding-top: 30px;
}
/*#row {
  display:table-row;
}*/
#first {
/*  display:table-cell;*/
  width:100%;
	text-align: center;
	
}
#second {
/*  display:table-cell;*/
  width:100%;
	text-align: center;
	margin-top: 40px;
}
#third {
/*  display:table-cell;*/
  width:100%;
	text-align: center;
	margin-top: 40px;
	
}

.footerheading {
	color: azure;
	margin-bottom: 5px;
	font-size: 18px;
}

.footertxt {
	color: #CBCBCB;
	font-size: 16px;
}

.redspan {
	color: red;
}

/*HOVER AND ANIMATION*/

.growanim {
	vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.growanim:hover , .growanim:focus , .growanimt:active {
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
	
}


.parabg:hover {
	transform: scale(1.05);
	
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: transparent;
}


/*MEDIA QUERIES*/

@media (min-width: 768px){
	
	#wrapper {
		height: 200px;
	}
	
	#first {
		width: 33%;
		float: left;
		margin: 0px;
		padding: 0px;
		
	}
	
	#second {
		width: 33%;
		float: left;
		margin: 0px;
		padding: 0px;
	}
	
	#third {
		width: 33%;
		float: left;
		margin: 0px;
		padding: 0px;
	}
	
	.nav-hover:hover {
	color: white;
}
	
	
	
	
	
	
	/* Bounce To Bottom */
.bb-anim {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bb-anim:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
/*  background: #2098D1;*/
	background: red;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bb-anim:hover, .bb-anim:focus, .bb-anim:active {
  color: white;
}
.bb-anim:hover:before, .bb-anim:focus:before, .bb-anim:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
	
	
}




.nav-title {
	color: red;
}
