html,body{
	margin:0;
	padding: 0;
	width:100%;
}
body{
	width: 100%;
	height: 100vh;
	background:white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: row;
	font-family: Montserrat;
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	z-index: 2;
	background-color: black;
}
.logo{
	letter-spacing: 1px;
	float: left;
	color:white;
	font-size: 22px;
	line-height: 80px;
	padding: 0 6em;
}
.menu{
	float: right;
	line-height: 50px;
	margin:0 6em;

}
.menu ul{
list-style: none;
}
.menu ul li{
display: inline-block;
}
.menu ul li a{
text-decoration: none;
color: white;
font-size:20px;
font-weight: lighter;
padding: 0 20px;
}

.header{
	position: absolute;
	top: 70%;
	left: 50%;
	color: black;
	transform: translate(-90%,-70%);
	text-align: center;
}
.header h1{
	font-size: 46px;
	font-weight: 400;
	margin-bottom: 8px;
}

.header p{
	font-size: 24px;
	font-weight: lighter;
}

.header button{
	color: #000;
	background: cyan;
	padding: 18px 48px;
	border:none;
	font-size: 14px;
	margin-top: 40px;
	margin-right: 10px;
	border-radius: 5px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.23);
}
.header button:hover{
	background: black;
	color: white;
}
}
.menu ul li a:hover,a:focus {
	background: black;
	color: white;
}

@media (max-width:800px)
{
	nav ul{
		display: none;
	}
	nav select{
		display: inline-block;
	}
}
.phone-wrap{
	
	justify-content: center;
	min-height: 100vh;
	position: absolute;
	top: 30%;
	left: 60%;
}
.phone{
	position: relative;
	width: 245px;
	height: 400px;
	background: #121212;
	border-radius: 40px;
	box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.screen{
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 6px;
	left:6px;
	background: black;
	border-radius: 20px;
	overflow: hidden;

}
.screen:before{
	content: " ";
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.2);
	transform:skewX(-15deg);
	z-index:1;
}
.screen img{
	position: absolute;
	top: 2;
	left: 2;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	opacity: 0;
	transition: 0.5s;

}
.screen:hover img{
	opacity: 1;
	background-color: white;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  margin:10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  border-radius:50%;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.container {
  padding: 16px;
}
.container button{
	color: #000;
	background: cyan;
	padding: 18px 48px;
	border:none;
	font-size: 14px;
	
	border-radius: 5px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.23);
}
.container button:hover{
	background: black;
	color: white;
}
span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  height: 50%;
  border-radius: 20px;
  width: 40%; /* Could be more or less, depending on screen size */
}



/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}